
:root {
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 60vw;
    margin: auto;
}

.main-nav {
    display: flex;
    height: 60px;
    align-items: center;
}

.nav-logo {

}

.flex-1 {
    flex: 1;
}

.nav-link {
    text-decoration: none;
    padding: 8px 12px;
}

a {
    color: inherit;
}

main {
    padding-top: 100px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.text-container {
    padding-top: 50px;
    padding-bottom: 20px;
}

.author-container {

}

.author {
    font-size: 4rem;
    margin: 0;
    line-height: .8;
    padding-bottom: 30px;
}

.role {
    font-size: 1.5rem;

}

.image-container {

}

.hero-image {

}

.footer-nav {
    display: flex;
    height: 60px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em
}

.credits {
    display: flex;
    flex-direction: column;
    opacity: .84;
    transition: opacity .2s ease-in-out;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.small-footer {
    padding-bottom: 10px;
}
